<!--================Footer Area =================-->
<footer id="footer">
	<div class="container">
		<h3>BELLO TAOFEEK ADEWALE (DEWAY)</h3>
		<p>Thank you for going through my portfolio website!. You can view follow me on all Social media platforms
			by clicking on any of the social media links below.</p>
		<div class="social-links ">
			<a href="https://www.twitter.com/TaofeekDeway" class="twitter"><img class="img-fluid" width="16px"
					src="img/twitter.png" alt="">
			</a>
			<a href="https://www.facebook.com/taofeek.bello.393" class="facebook "><i class="bx bxl-facebook "></i></a>
			<a href="https://wa.me/qr/LYDHEEXZDNRDL1" class="whatsapp "><i class="bx bxl-whatsapp "></i></a>
			<a href="mailto:btaofeek02@gmail.com" class="google-plus "><i class="bx bx-envelope "></i></a>
			<a href="https://www.linkedin.com/in/TaofeekDeway" class="linkedin "><i class="bx bxl-linkedin"></i></a>
			<a href="https://www.fiverr.com/dynamic_100" class="Fiverr"><img class="img-fluid" width="16px"
					src="img/fiverr.png" alt=""></a>
		</div>
		<div class="copyright">
			<p class="text-white">
				Handcrafted by <a href="#" target="_blank">Bello Taofeek</a> with <i class="bx bxs-heart"
					aria-hidden="true"></i> &copy;
				<script>document.write(new Date().getFullYear());</script>
			</p>
		</div>
	</div>
</footer>
<!--================End Footer Area =================-->

<!--================Back to Top Area =================-->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i
		class="bx bx-up-arrow-alt"></i></a>
<!--================End Back to Top Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stellar.js"></script>
<script src="vendors/lightbox/simpleLightbox.min.js"></script>
<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="vendors/isotope/isotope.pkgd.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/popup/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="vendors/counter-up/jquery.counterup.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/theme.js"></script>
<link href='https://unpkg.com/boxicons@2.1.2/dist/boxicons.js' rel='stylesheet'>

</body>

</html>