<!--================Feature Area =================-->
<section id="services" class="feature_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>Offered Services</h2>
      <p>
        Web design and development have been my bread and butter for more than 3
        years, During that time, i have discovered that i can help startups and
        companies with the following services.
      </p>
    </div>
    <div class="feature_inner row">
      <div class="col-lg-6 col-md-6">
        <div class="feature_item">
          <i class="far fa-gem"></i>
          <h4>Design</h4>
          <p>
            Sucessful online projects start with good design. It establishes a
            solid foundation for future development and allows for long term
            growth.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="feature_item">
          <i class="fas fa-code"></i>
          <h4>Development</h4>
          <p>
            I can code my own designs or even use the customer's design as base.
            My focus is to generate clean code that is well structured for
            reliability.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="feature_item">
          <i class="bx bx-search-alt-2"></i>
          <h4>Basic SEO</h4>
          <p>
            I can setup your project to use basic SEO principles which will push
            your projects to the first stage on search engines and save you ads
            money.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="feature_item">
          <i class="fas fa-tv"></i>
          <h4>Web & App Design</h4>
          <p>
            Using highly adaptable technologies like Figma and Canva, i can help
            you design a website and application wireframes.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="more_btn">
				<a class="main_btn" href="services.html">More Services</a>
			</div> -->
  </div>
</section>
<!--================End Feature Area =================-->
