<!-- Webpage Title -->
<!-- <title>Taofeek | Home</title> -->

<%- include('partials/header'); %>
	<!--================Home  Area =================-->
	<section class="home_banner_area">
		<div class="container box_1620">
			<div class="banner_inner d-flex align-items-center">
				<div class="banner_content">
					<div class="media">
						<div class="d-flex">
							<img src="img/personal.jpg" alt="">
						</div>
						<div class="media-body">
							<div class="personal_text">
								<h6>Hello Everybody, i am</h6>
								<h3>Bello Taofeek Adewale</h3>
								<h4>Designer & Junior Frontend Developer</h4>
								<p>I design and code beautifully simple things, and i love what i do.</p>
								<ul class="list basic_info">
									<li><a href="#"><i class="lnr lnr-calendar-full"></i> 15th August, 2002</a></li>
									<li><a href="tel:+234 (706) 6677 518"><i class="lnr lnr-phone-handset"></i> +234
											(706) 6677 518</a></li>
									<li><a href="mailto:btaofeek02@gmail.com"><i class="lnr lnr-envelope"></i>
											btaofeek02@gmail.com</a></li>
									<li><a href="#"><i class="lnr lnr-home"></i> Bariga, Lagos</a></li>
								</ul>
								<ul class="list personal_social">
									<li>
										<a target="_blank" href="https://www.facebook.com/taofeek.bello.393"><i
												class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a target="_blank" href="https://www.twitter.com/TaofeekDeway"><img
												class="img-fluid" width="16px" src="img/twitter.png"
												alt="Fiverr"></a></a>
									</li>
									<li>
										<a target="_blank" href="https://www.linkedin.com/in/TaofeekDeway"><i
												class="fa fa-linkedin"></i></a>
									</li>
									<li>
										<a target="_blank" href="https://wa.me/qr/LYDHEEXZDNRDL1"><i
												class="fa fa-brands fa-whatsapp"></i></a>
									</li>
									<li>
										<a href="https://www.fiverr.com/dynamic_100" class="Fiverr"><img
												class="img-fluid" width="16px" src="img/fiverr.png" alt="Fiverr"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================My Tabs Area =================-->
	<section id="about" class="p_120 resume">
		<div class="container" data-aos="fade-up">
			<div class="row">
				<div class="col-lg-6">
					<h3 class="resume-title">Sumary</h3>
					<div class="resume-item pb-0">
						<h4>Bello Taofeek Adewale</h4>
						<p><em>I am a Junior Front End Developer with adept knowledge of front end programming language
								and design tools. I am very skilled at producing clean, secure code based on individual
								clients' needs. I am focused on delighting customers with innovative, user-friendly
								designs.

							</em></p>
						<p><em>Also an innovative and deadline-driven Graphic Designer with 3+ years of experience
								designing and
								developing user-centered digital/print marketing material from initial concept to final,
								polished deliverable.</em></p>
						<ul>
							<li>Bariga, Lagos, Nigeria</li>
							<li>(234) 706-667-7518</li>
							<li>btaofeek02@gmail.com</li>
						</ul>
					</div>

					<h3 class="resume-title">Education</h3>
					<div class="resume-item">
						<h4>B.Sc In Compuer Science & Engineering</h4>
						<h5>2020 - Present</h5>
						<p><em>Obafemi Awolowo University, Ile-Ife, Nigeria</em></p>
						<p>I am currently a 200Level student of Obafemi Awolowo University studying for a BSc. in
							Computer Science and Engineering.
						</p>
					</div>
					<div class="resume-item">
						<h4>High School Diploma</h4>
						<h5>2012 - 2018</h5>
						<p><em>Zodiac High School, Igando, LG</em></p>
						<ul>
							<li>Completed my Basic Education Certificate Examination (BECE) in 2015.</li>
							<li>Completed my West African Secondary Certificate Examination (WASSCE) in 2018.</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<h3 class="resume-title">Professional Experience</h3>
					<div class="resume-item">
						<h4>Freelance Front-End Developer</h4>
						<h5>2019 - Present</h5>
						<p><em>Fiverr </em></p>
						<ul>
							<li>Designed user-friendly web UI to improve accessibility and responsiveness.</li>
							<li>Optimized websites to improve backward and cross-browser compatibility.</li>
							<li>Developed web applications using Agile and continuous delivery processes to refine the
								quality and improve output.</li>
							<li>Updated web pages and navigation tools to meet the client's current needs and improve
								usability.</li>
							<li>Improved coding of JavaScript and CSS to enhance user experience and functionality.</li>
						</ul>
					</div>
					<div class="resume-item">
						<h4>Graphic design specialist</h4>
						<h5>2017 - Present</h5>
						<p><em>Fiverr</em></p>
						<ul>
							<li>Developed high-quality, creative graphics for diverse company needs.</li>
							<li>Engaged clients in design development process to better serve individual needs.</li>
							<li>Used Canva & Microsoft Excel to create professional charts and graphs for company
								presentations.</li>
							<li>Produced hand-drawn sketches or preliminary digital images to show initial concepts.
							</li>
							<li>Utilized graphic design, web development and animation processing tools to create design
								work and visual materials.</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!--================End My Tabs Area =================-->

	<!--================Welcome Area =================-->
	<section class="welcome_area pt-12b">
		<div class="container">
			<div class="main_title">
				<h2>SKILLS</h2>
			</div>
			<div class="row welcome_inner">
				<div class="col-lg-6">
					<div class="tools_expert">
						<div class="skill_main">
							<div class="skill_item">
								<h4>HTML <span class="counter">100</span>%</h4>
								<div class="progress_br">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="100"
											aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="skill_item">
								<h4>CSS <span class="counter">95</span>%</h4>
								<div class="progress_br">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="95"
											aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="skill_item">
								<h4>JavaScript <span class="counter">85</span>%</h4>
								<div class="progress_br">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="85"
											aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="skill_item">
								<h4>Graphic Design <span class="counter">95</span>%</h4>
								<div class="progress_br">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="95"
											aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="tools_expert">
						<div class="skill_main">
							<div class="skill_item">
								<h4>Bootstrap <span class="counter">100</span>%</h4>
								<div class="progress_br">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="100"
											aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="skill_item">
								<h4>jQuery <span class="counter">80</span>%</h4>
								<div class="progress_br">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="80"
											aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="skill_item">
								<h4>Sketch <span class="counter">90</span>%</h4>
								<div class="progress_br">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="90"
											aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="skill_item">
								<h4>CMS/LMS <span class="counter">100</span>%</h4>
								<div class="progress_br">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="100"
											aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!--================End Welcome Area =================-->

	<!--================Feature Area =================-->
	<%- include('partials/offeredServices'); %>
		<!--================End Feature Area =================-->

		<!--================CV Area =================-->
		<section id="cta" class="cta p_120">
			<div class="container">

				<div class="row" data-aos="zoom-out">
					<div class="col-lg-9 text-center text-lg-start">
						<h3>MY OFFICIAL RESUME</h3>
						<p>Before you proceed to viewing my Projects, I will like to walk you through my professional
							background by imploring you to view my Resume, here is a link to viewing my official Resume
							which I designed using Canva. </p>
					</div>
					<div class="col-lg-3 cta-btn-container text-center">
						<a class="cta-btn align-middle"
							href="https://drive.google.com/file/d/1nd0fl9NB4oK9s_b2w1rDTk0lIpx5ua3Q/view?usp=sharing">My
							Resume</a>
					</div>
				</div>

			</div>
		</section>
		<!--================End CV Area =================-->

		<!--================Home Gallery Area =================-->
		<%- include('partials/featuredProject'); %>
			<!--================End Home Gallery Area =================-->

			<!--================Testimonials Area =================-->
			<section class="testimonials_area p_120">
				<div class="container">
					<div class="main_title">
						<h2>Testimonials</h2>
						<p>A few words from people that choose to work with me</p>
					</div>
					<div class="testi_inner">
						<div class="testi_slider owl-carousel">
							<div class="item">
								<div class="testi_item">
									<p>"Wow, what an incredible job! i am just so happy with how my website turned out.
										I cannot
										wait to begin on my next project. Taofeek is the best there is!!!</p>
									<h4>Shawn Johnson</h4>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
								</div>
							</div>
							<div class="item">
								<div class="testi_item">
									<p>"So glad we started working with Taofeek. We have used his design and development
										skills
										many times for our inhouse online projects"</p>
									<h4>Lamont Moore</h4>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
								</div>
							</div>
							<div class="item">
								<div class="testi_item">
									<p>"Loved to work with Taofeek, he is such an awesome developer with great attention
										to
										details. He also has a great eye for design"</p>
									<h4>Bary Johnson</h4>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
								</div>
							</div>
							<!-- others -->
							<div class="item">
								<div class="testi_item">
									<p>"The service was amazing and very punctual, over delivered and was very flexible
										with
										changes"</p>
									<h4>Alicia Bode</h4>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star-half-o"></i></a>
								</div>
							</div>
							<div class="item">
								<div class="testi_item">
									<p>What more can i say? this is my third project and it's great, such great
										communication
										and will not accept nothing but perfection. Definitely recommend...</p>
									<h4>Lamont Moore</h4>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
								</div>
							</div>
							<div class="item">
								<div class="testi_item">
									<p>"He was in-touch with me throughout the process of the project and made all my
										changes
										quickly! Took all my ideas and really brought them to life!"</p>
									<h4>Ciara Smith</h4>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star-half-o"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--================End Testimonials Area =================-->


			<!-- Bottom page -->
			<%- include('partials/footer'); %>