<%- include('partials/headernob'); %>
  <!--================Home Banner Area =================-->
  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content text-center">
          <h2>Website Portfolio</h2>
          <div class="page_link">
            <a href="/">Home</a>
            <a href="websitept">Website Portfolio</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <!--================Website Portfolio Area =================-->

  <section id="portfolio" class="home_gallery_area pt-12b">
    <div class="container">
      <div class="main_title">
        <h2>Our Latest Featured Projects</h2>
        <p>Who are in extremely love with eco friendly system.</p>
      </div>
      <div class="isotope_fillter">
        <ul class="gallery_filter list">
          <li class="active" data-filter="*"><a href="#">All</a></li>
          <li data-filter=".lms"><a href="#">LMS</a></li>
          <li data-filter=".cms"><a href="#">CMS</a></li>
          <li data-filter=".stw"><a href="#">Static Website</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="gallery_f_inner basic-5 row imageGallery1">
        <div class="col-lg-4 col-md-6 lms">
          <div class="text-container">
            <div class="image-container">
              <a href="https://www.asoneglobal.com.au" target="_blank">
                <img class="img-fluid" src="img/lmswork_1.jpg" alt="alternative" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 cms">
          <div class="text-container">
            <div class="image-container">
              <a href="https://www.tonal.com" target="_blank">
                <img class="img-fluid" src="img/cmswork_1.jpg" alt="alternative" />
              </a>
            </div>
          </div>
        </div>
        <!-- dddd -->
        <div class="col-lg-4 col-md-6 lms">
          <div class="text-container">
            <div class="image-container">
              <a href="https://keepingitrealhealthy.vipmembervault.com" target="_blank">
                <img class="img-fluid" src="img/lmswork_2.jpg" alt="alternative" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 cms">
          <div class="text-container">
            <div class="image-container">
              <a href="https://www.rhone.com" target="_blank">
                <img class="img-fluid" src="img/cmswork_2.jpg" alt="alternative" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 lms">
          <div class="text-container">
            <div class="image-container">
              <a href="https://exlibrismollymurray.com" target="_blank">
                <img class="img-fluid" src="img/lmswork_3.jpg" alt="alternative" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 cms">
          <div class="text-container">
            <div class="image-container">
              <a href="https://littlebirdygroup.com" target="_blank">
                <img class="img-fluid" src="img/cmswork_3.jpg" alt="alternative" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 lms">
          <div class="text-container">
            <div class="image-container">
              <a href="https://kaizentrainingacademy.com" target="_blank">
                <img class="img-fluid" src="img/lmswork_4.jpg" alt="alternative" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 cms">
          <div class="text-container">
            <div class="image-container">
              <a href="https://www.bluboho.com" target="_blank">
                <img class="img-fluid" src="img/cmswork_4.jpg" alt="alternative" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 lms">
          <div class="text-container">
            <div class="image-container">
              <a href="https://academy.brunoalbouze.com" target="_blank">
                <img class="img-fluid" src="img/lmswork_5.jpg" alt="alternative" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 stw">
          <div class="text-container">
            <div class="image-container">
              <a href="https://taopaga.netlify.app" target="_blank">
                <img class="img-fluid" src="img/stwwork_1.png" alt="alternative" />
              </a>
            </div>
            <p>
              <strong>For:</strong> Deway, <strong>Project:</strong> refurbish
              design of an existng and famous Paga
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 stw">
          <div class="text-container">
            <div class="image-container">
              <a href="https://deway-resume.netlify.app" target="_blank">
                <img class="img-fluid" src="img/stwwork_2.png" alt="alternative" />
              </a>
            </div>
            <p>
              <strong>For:</strong> Deway, <strong>Project:</strong> a resume of
              an upcoming full-stack software developer
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 stw">
          <div class="text-container">
            <div class="image-container">
              <a href="#" target="_blank">
                <img class="img-fluid" src="img/stwwork_3.png" alt="alternative" />
              </a>
            </div>
            <p>
              <strong>For:</strong> Deway, <strong>Project:</strong> a portfolio
              website of Deway; a full-stack software developer
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--================End Website Portfolio Area =================-->
  <!-- Bottom page -->
  <%- include('partials/footer'); %>