<!--================Home Gallery Area =================-->
<section id="portfolio" class="home_gallery_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>Our Latest Featured Projects</h2>
      <p>Who are in extremely love with eco friendly system.</p>
    </div>
    <div class="isotope_fillter">
      <ul class="gallery_filter list">
        <li class="active" data-filter="*"><a href="#">All</a></li>
        <li data-filter=".logo"><a href="#">Logo Design</a></li>
        <li data-filter=".banner"><a href="#">Banner Design</a></li>
        <li data-filter=".nft"><a href="#">NFT ART</a></li>
        <li data-filter=".buyer"><a href="#">Buyer Persona</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="gallery_f_inner row imageGallery1">
      <div class="col-lg-4 col-md-4 col-sm-6 logo">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/logoproject-1.jpg"
              alt="logo project"
            />
            <a class="light" href="img/gallery/deway_logo1.jpg"
              ><img src="img/gallery/icon.png" alt="logo project"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 banner">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/banner.jpg"
              alt="banner project"
            />
            <a class="light" href="img/gallery/deway_banner1.jpg"
              ><img src="img/gallery/icon.png" alt="banner project"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 nft">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/nftproject-1.jpg"
              alt="nft project"
            />
            <a class="light" href="img/gallery/deway_nft1.jpg"
              ><img src="img/gallery/icon.png" alt="nft project"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 buyer">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/buyerproject.jpg"
              alt="buyer project"
            />
            <a class="light" href="img/gallery/deway_buyer1.jpg"
              ><img src="img/gallery/icon.png" alt="buyer project"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 logo">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/logoproject-2.jpg"
              alt="logo project"
            />
            <a class="light" href="img/gallery/deway_logo2.jpg"
              ><img src="img/gallery/icon.png" alt="logo project"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 banner">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/banner.jpg"
              alt="banner project"
            />
            <a class="light" href="img/gallery/deway_banner2.jpg"
              ><img src="img/gallery/icon.png" alt="banner project"
            /></a>
          </div>
        </div>
      </div>
      <!-- more col making 12 -->
      <div class="col-lg-4 col-md-4 col-sm-6 nft">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/nftproject-2.jpg"
              alt="nft project"
            />
            <a class="light" href="img/gallery/deway_nft2.jpg"
              ><img src="img/gallery/icon.png" alt="nft project"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 buyer">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/valueproject.jpg"
              alt="buyer project"
            />
            <a class="light" href="img/gallery/deway_buyer4.jpg"
              ><img src="img/gallery/icon.png" alt="buyer project"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 logo">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/logoproject-3.jpg"
              alt="logo project"
            />
            <a class="light" href="img/gallery/deway_logo3.jpg"
              ><img src="img/gallery/icon.png" alt="logo project"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 banner">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/banner.jpg"
              alt="banner project"
            />
            <a class="light" href="img/gallery/deway_banner3.jpg"
              ><img src="img/gallery/icon.png" alt="banner project"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 nft">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/nftproject-3.jpg"
              alt="nft project"
            />
            <a class="light" href="img/gallery/deway_nft3.jpg"
              ><img src="img/gallery/icon.png" alt="nft project"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 buyer">
        <div class="h_gallery_item">
          <div class="g_img_item">
            <img
              class="img-fluid"
              src="img/gallery/empathyproject.jpg"
              alt="buyer project"
            />
            <a class="light" href="img/gallery/deway_buyer5.jpg"
              ><img src="img/gallery/icon.png" alt="buyer project"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="more_btn">
      <a class="main_btn" href="portfolio.html">Load More Items</a>
    </div>
  </div>
</section>
<!--================End Home Gallery Area =================-->
