<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Webpage Title -->
    <!-- <title>Taofeek | Home</title> -->

    <!-- IMPORTED -->
    <link rel="manifest" href="manifest.json" />
    <meta name="author" content="Bello Taofeek" />
    <meta name="owner" content="Bello Taofeek" />
    <meta name="design:by" content="Bello Taofeek" />
    <meta property="og:title" content="Taofeek | Front-End Developer & Graphic Designer" />
    <meta property="og:site_name" content="Taofeek | Front-End Developer & Graphic Designer" />
    <meta name="description"
        content="Bello Taofeek Adewale is a creative designer and front-end developer, based in Lagos-Nigeria. Building solutions since 2020!" />
    <meta property="og:type" content="website" />
    <meta name="image" property="og:image"
        content="https://github.com/TaofeekDeway/portfolio/blob/main/img/Bello%20Taofeek.png?raw=true" />
    <meta property="og:image" itemprop="image"
        content="https://github.com/TaofeekDeway/portfolio/blob/main/img/Bello%20Taofeek.png?raw=true" />
    <meta property="og:image:secure_url" itemprop="image"
        content="https://github.com/TaofeekDeway/portfolio/blob/main/img/Bello%20Taofeek.png?raw=true" />
    <meta property="og:url" content="https://taofeek-portfolio.netlify.app/" />
    <meta name="og:description"
        content="Bello Taofeek Adewale is a creative designer and front-end developer, based in Lagos-Nigeria. Building solutions since 2020!" />
    <meta name="twitter:site" content="@TaofeekDeway" />
    <meta name="twitter:creator" content="Bello Taofeek" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description"
        content="Bello Taofeek Adewale is a creative designer and front-end developer, based in Lagos-Nigeria. Building solutions since 2020!" />
    <meta name="twitter:title" content="Taofeek | Front-End Developer & Graphic Designer" />
    <meta name="twitter:image"
        content="https://github.com/TaofeekDeway/portfolio/blob/main/img/Bello%20Taofeek.png?raw=true" />
    <!-- IMPORTED END -->

    <!-- Styles -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="vendors/linericon/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link href="css/fontawesome-all.css" rel="stylesheet" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="vendors/popup/magnific-popup.css" />
    <link rel="stylesheet" href="vendors/flaticon/flaticon.css" />
    <script src="https://kit.fontawesome.com/62e7bcd343.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png" type="image/png" />

    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
</head>

<body>
    <!--================Header Menu Area =================-->
    <!--================Header Menu Area =================-->
</body>

</html>